{% extends 'base.html.twig' %}

{% block title %}Ajouter un Eleve{% endblock %}

{% block body %}
    <h1>Ajouter un Eleve</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}

{% endblock %}