{% extends 'base.html.twig' %}
{% block title %}Liste des Modele
{% endblock %}
{% block body %}
		LISTE DES MODELE</br>
		<table>
		{% for e in pmodele %}
		<tr>
			<td>{{ e.libelle }}</td>
	{% else %}
		<tr>
		<td>Aucun instrument n'a été trouvé.</td>
		</tr>
	{% endfor %}
</table>
{% endblock %}