{% extends 'base.html.twig' %}

{% block title %}Modifier une Intervention{% endblock %}

{% block body %}
    <h1>Modifier une Inscription</h1>
    
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    
{% endblock %}
