<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <title>
        {% block title %}Bienvenue{% endblock %}
    </title>
    {% block javascripts %}
        {{ importmap() }}
    {% endblock %}
</head>
<body>
    <div class="container">
        <!-- Barre de navigation -->
        {% include 'includes/navbar.html.twig' %}
        
        <!-- Contenu principal -->
        <div class="content">
            {% block body %}{% endblock %}
        </div>
    </div>
</body>
</html>
