{% extends 'base.html.twig' %}

{% block title %}Ajouter un Cours{% endblock %}

{% block body %}
    <a class="bouton-arriere" href="{{ path('app_cours_lister') }}">Retourner en arrière</a>
    <h1>Ajouter un Cours</h1>
    
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    
{% endblock %}
